@model TesteExcel.Models.CreateActivityRequests

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateActivityRequests</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
            <div class="row">
                <input type="file" id="fileUploadImportar" name="fileUpload" />

            </div>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script>
                $('#fileUploadImportar').change(function (event) {
                    console.log('Arquivo para fazer Upload', event.target.files[0])
                    var files = $("#fileUploadImportar").get(0).files;

                    var formData = new FormData();

                    formData.append("file", files[0]);

                    $.ajax({
                        type: "POST",
                        enctype: 'multipart/form-data',
                        url: '@Url.Action("ImportCensusPopulation")',
                        data: formData,
                        processData: false,
                        contentType: false,
                        cache: false,
                        timeout: 600000,
                        success: function (data) {

                        },
                        error: function (e) {
                            console.log(e);

                        }
                    });
                });
            </script>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedVerificationType" class="control-label"></label>
                <input asp-for="SelectedVerificationType" class="form-control" />
                <span asp-validation-for="SelectedVerificationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
